@model IEnumerable<ConfiguracionPago>

@{
    Layout = "~/Views/Shared/Layout_admin.cshtml";
    ViewData["Title"] = "Configuración de Pago";
}

<h2>Configuración de Pago</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nueva Configuración</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Monto Seña</th>
            <th>Fecha de Modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdConfiguracion</td>
                <td>@item.MontoSena</td>
                <td>@item.FechaModificacion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdConfiguracion" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IdConfiguracion" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>